.dry-imageCarousel {
}
.gallery {
  position: relative;
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(57, 12, 110, 1);

  &__wrapper {
    position: relative;
    width: 90%;
  }

  &__panel {
    opacity: 0;
    height: 0px;
  }

  &__panel--active {
    opacity: 1;
    position: relative;
    padding: 10px;
    height: 50vw;
    background-size: cover;
    background-position: center;
    text-align: center;
    // animation: moveRight 2s ease-out;
  }
  &__title {
    position: absolute;
    bottom: 24%;
    left: 50%;
    font-size: calc(3vw);
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #fff;
  }
  &__text {
    position: absolute;
    bottom: 20%;
    left: 0px;
    width: 100%;
    color: #fff;
    font-size: calc(2vw);
  }
  &__left-icon {
    opacity: 0;
    height: 0px;
  }
  &__right-icon {
    opacity: 0;
    height: 0px;
  }
  &__left-icon--active {
    opacity: 1;
    width: fit-content;
    position: absolute;
    top: 40%;
    font-size: calc(2vw);
    padding: 2vw;
    cursor: pointer;
    border: 1px solid;
    border-radius: 28px;
    line-height: 0px;
    background: #fff;
    &:hover {
      box-shadow: 0px 0px 17px #000000;
      transform: scaleY(1.2) scaleX(1.2);
    }
    &:active {
      box-shadow: 0px 0px 10px #000000;
      transform: scaleY(0.9) scaleX(0.9);
    }
  }
  &__right-icon--active {
    opacity: 1;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 40%;
    font-size: calc(2vw);
    padding: 2vw;
    cursor: pointer;
    border: 1px solid;
    border-radius: 28px;
    line-height: 0px;
    background: #fff;
    &:hover {
      box-shadow: 0px 0px 17px #000000;
      transform: scaleY(1.2) scaleX(1.2);
    }
    &:active {
      box-shadow: 0px 0px 10px #000000;
      transform: scaleY(0.9) scaleX(0.9);
    }
  }
  &__button-wrapper {
    position: absolute;
    bottom: 0.1vw;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  &__bottom-nav {
    margin-right: 10px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 25px;
    width: 5vw;
    height: 5vw;
    max-width: 40px;
    max-height: 40px;
    display: inline-block;
    background: #fff;
    &:hover {
      transform: scaleX(1.3) scaleY(1.3);
    }
  }
  &__bottom-nav-last {
    margin-right: 0;
  }

  &__bottom-nav--active {
    background: black;
  }
}

@keyframes moveRight {
  0% {
    left: 0px;
  }
  100% {
    left: 100px;
    opacity: 0;
  }
}
