.dry-fileUpload {
  &__button {
  }

  &__label {
    margin-right: 20px;
  }

  &__image {
  }
  &__input-wrapper {
  }
  &__input {
    width: 157px;
    margin-bottom: 10px;
  }

  &__user-interaction {
    display: flex;
    justify-content: flex-start;
  }
}
