.dry-team {
  display: flex;
  justify-content: space-evenly;
  box-shadow: -1px 0px 5px;

  &__wrapper {
    width: 30vw;
  }
  &__ul {
    position: relative;
    top: -22px;
    display: flex;
    height: 30px;
    justify-content: space-evenly;
    padding: unset;
    list-style-type: none;
  }

  &__ul-button {
    height: 42px;
    width: 42px;
    border-radius: 39px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__ul-button:hover {
    background-size: cover;
    transform: scale3d(1.2, 1.2, 1);
  }

  &__p {
    width: 85%;
    padding: 20px;
    padding-top: 0;
    text-align: center;
  }

  &__img {
    width: 100%;
  }
  &__img-header {
    text-align: center;
    position: relative;
    bottom: -18px;
  }
}
