.dry-fileUpload {
  &__button {
  }

  &__label {
  }

  &__image {
  }
  &__input-wrapper {
  }
  &__input {
    width: 157px;
    margin-bottom: 10px;
  }

  &__user-interaction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
