.dry-button {
  &__button {
    width: 99px;
    height: 36px;
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.12);
    background-color: #f5f5f5;
    &:hover {
      background-color: rgba(98, 0, 238, 0.04);
      border: solid 1px rgba(0, 0, 0, 0.12);
    }
  }
}
