.dry-pricing {
  display: flex;
  justify-content: space-between;

  &__price-wrapper {
  }

  &__header-wrapper {
  }

  &__name-wrapper {
    color: gray;
    margin: 10px 0px;
    text-align: center;
  }
  &__main-wrapper {
    box-shadow: -1px 0px 5px;
    border: 1px solid;
    border-radius: 10px;
    width: 30%;
  }
  &__price-wrapper {
    text-align: center;
  }
  &__price {
    font-size: 35px;
  }
  &__detail-wrapper {
    list-style-type: none;
    margin-right: 50px;
  }
  &__detail {
    text-align: left;
    margin-top: 10px;
    display: flex;
  }

  &__check {
    height: 20px;
  }
}
