.dry-nonProfit {
  &__feature {
    width: 100%;
    margin-top: 50px;
  }
}
.dry-restaurant {
}
.all-businesses {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.single-business {
  margin: 5vw;
}

.main-all-sites {
  text-align: center;
  font-size: xx-large;
}

.main-all-bus-users {
  text-align: center;
  font-size: xx-large;
  margin: 6vh;
}
.main-make-business {
  text-align: center;
  font-size: xx-large;
  margin: 6vh;
}

.main-make-user {
  text-align: center;
  font-size: xx-large;
  margin: 6vh;
}

.create-business-site {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.new-site-data {
  height: 20%;
  width: 30%;
  margin: 1vw;
}

.new-user-data {
  height: 20%;
  width: 30%;
  margin: 1vw;
}

.make-business-user {
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.format-make-site {
}

.new-site-data-div {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
  align-items: center;
}

.business-user-holders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2vh;
  align-items: center;
}

.business-user-holders > h1 {
  margin: 8px;
  font-size: larger;
}

.featureWrap {
  display: flex;
  background: aqua;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.FeatureDiv {
  display: flex;
  height: fit-content;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
}

.FeatureNum {
  width: 25vw;
  height: 5vh;
  background-color: #cccccc;
}

.FeatureDynamic {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  min-height: 20vh;
  height: fit-content;
  background-color: #999999;
  margin: 2vh;
}

.cr-btt {
  display: none;
}
.fake-bit-div,
.add-fe-button {
  display: flex;
  justify-content: center;
}

.fake-bit-div > button {
  height: 19vh;
  width: 26vw;
  margin-top: 3%;
}

.add-fe-button > button {
  height: 4vh;
  width: 26vw;
  margin-top: 3%;
  border-radius: 10px 100px / 120px;
}

.siteLink {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  border: 2px solid black;
  align-items: center;
}

.siteLink > a {
  font-size: x-large;
}

.siteLink > a:hover {
  background: chartreuse;
}

.img-back-button {
  background-image: url(/static/media/ComfortOrderLogo.cac019f9.png);
  height: auto;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  font-weight: bold;
  background-position: bottom;
  background-repeat: space;
  background-size: contain;
}

button:hover {
  background: darkgray;
}

.make-account {
  height: 10vh;
  width: fit-content;
  margin-top: 20px;
}

.link-site > a {
  font-size: x-large;
  background: chartreuse;
}

.all-user {
  width: 100%;
  line-height: 13vh;
}

// GLOBAL
/*==================
      NAVBAR
====================*/
.nav-cart {
  width: 3%;
  height: 35px;
  background-color: darkorchid;
  padding: 10px;
  position: absolute;
}
.restaurant-nav {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 99;
  /* background: yellowgreen; */
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  padding: 25px 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav {
  display: flex;
  list-style: none;
  margin: 7.5px 0;
}
.navbar-nav > li {
  margin-right: 20px;
}
.navbar-nav > li > a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}
.navbar-nav > li > a:hover {
  cursor: pointer;
}
.navbar-right {
  right: auto;
  left: 0;
  float: right;
}
.navbar-bg {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 8;
  transition: all 0.3s;
}
.modal-child {
  display: contents;
}
.cart {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  width: 600px;
  height: 55%;
  padding: 50px;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 5px;
  border: 1px solid #000;
}
/*==================
      HERO LANDING
  ====================*/

#restaurant-hero-section {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
.hero-photo-sizing {
  display: inline;
  float: left;
  width: 100%;
}
.landing-photo-container {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
.landing-photo-container::after {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 2;
}
.landing-photo-container > img {
  width: 100%;
}
.top-hero-content {
  position: absolute;
  left: 15%;
  top: 33%;
  right: 15%;
  text-align: center;
  z-index: 9;
}
.small-hero-title {
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}
.hero-title {
  color: #fff;
  font-size: 70px;
  line-height: 90px;
}
.top-hero-content > p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}
img {
  vertical-align: middle;
  page-break-inside: avoid;
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/*==================
        FEATURES
  ====================*/

.feature {
  width: 100%;
  margin-top: 50px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.container.feature-display {
  height: fit-content;
}
.black {
  background-color: #222;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}

.map-wrapper {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}
.restaurant-map {
  width: 100%;
  height: 100%;
}
#teleport-option4 h2,
#teleport-option2 h2 {
  color: black;
}
#map-directions-button {
  text-align: center;
}

/*==================
        FOOTER
  ====================*/

#restaurant-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}
.footer-area {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
}
.foote-links {
  display: inline;
  float: left;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.footer-copyright {
  display: inline;
  float: left;
  width: 100%;
}
.footer-copyright p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #fff;
}
.footer-copyright p a {
  color: #fff;
  text-decoration: underline;
}
/*==================
        RESPONSIVENESS
  ====================*/

@media (max-width: 360px) {
  #resturant-map {
    height: 250px;
  }
}
@media (max-width: 480px) {
  #resturant-map {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
