/*==================
        NAVBAR
====================*/
.restaurant-nav {
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 99;
  /* background: yellowgreen; */
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
  padding: 25px 0;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav {
  display: flex;
  list-style: none;
  margin: 7.5px 0;
}
.navbar-nav > li {
  margin-right: 20px;
}
.navbar-nav > li > a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}
.navbar-nav > li > a:hover {
  cursor: pointer;
}
.navbar-right {
  right: auto;
  left: 0;
  float: right;
}
.nav-input-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}
.container:before,
.container:after {
  display: table;
  content: " ";
}
.container:after {
  clear: both;
}
/*==================
    HERO LANDING
====================*/

#restaurant-hero-section {
  display: inline;
  float: left;
  width: 100%;
  position: relative;
}
.hero-photo-sizing {
  display: inline;
  float: left;
  width: 100%;
}
.landing-photo-container {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
}
.landing-photo-container::after {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  z-index: 2;
}
.landing-photo-container > img {
  width: 100%;
}
.top-hero-content {
  position: absolute;
  left: 15%;
  top: 33%;
  right: 15%;
  text-align: center;
  z-index: 9;
}
.top-hero-content > p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 10px;
  padding: 0 30px;
}
.small-hero-title {
  font-size: 100px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
}
.hero-title {
  color: black;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
}
.hero-title-1 {
  color: white;
  font-size: 70px;
  line-height: 90px;
  text-align: center;
}
/*==================
      FEATURES
====================*/
.feature {
  width: 100%;
  margin-top: 50px;
}
#teleport-option0{
  margin-top: 0;
}
.map-wrapper {
  display: inline;
  float: left;
  height: 450px;
  width: 100%;
}
#map-directions-button {
  text-align: center;
}
img {
  vertical-align: middle;
  page-break-inside: avoid;
  border: 0;
  display: block;
  max-width: 100%;
  height: auto;
}

/*==================
      Icons
====================*/

.dry-singlePage {
  &__icon-wrapper {
    display: flex;
    justify-content: center;
  }
  &__socal-icon-wrapper {
    text-align: center;
    margin-bottom: 32px;
  }
}

/*==================
      FOOTER
====================*/

#restaurant-footer {
  background-color: #444;
  display: inline;
  float: left;
  padding: 50px 0;
  width: 100%;
}

/*==================
    Responsiveness 
====================*/

@media (max-width: 360px) {
  #resturant-map {
    height: 250px;
  }
}
@media (max-width: 480px) {
  #resturant-map {
    height: 350px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}