.gallery {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(57, 12, 110, 1);

  &__wrapper {
    position: relative;
  }

  &__panel {
    opacity: 0;
    height: 0px;
  }

  &__panel--active {
    opacity: 1;
    position: relative;
    padding: 10px;
    width: 60vw;
    height: 60vw;
    text-align: center;
  }
  &__image {
    width: 60vw;
    height: 60vw;
  }
  &__text {
    position: absolute;
    bottom: 20%;
  }
  &__left-icon {
    opacity: 0;
    height: 0px;
  }
  &__right-icon {
    opacity: 0;
    height: 0px;
  }
  &__left-icon--active {
    opacity: 1;
    width: fit-content;
    position: absolute;
    top: 40%;
    font-size: 1.5em;
    padding: 16px;
    cursor: pointer;
  }
  &__right-icon--active {
    opacity: 1;
    width: fit-content;
    position: absolute;
    right: 10px;
    top: 40%;
    font-size: 1.5em;
    padding: 16px;
    cursor: pointer;
  }
  &__button-wrapper {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__bottom-nav {
    margin-right: 10px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background: #fff;
  }
  &__bottom-nav--active {
    background: black;
  }
}
