.dry-menu {
  box-shadow: -1px 0px 5px;
  border: 1px solid;
  border-radius: 10px;
  padding: 0px 0px 50px 0px;

  &__label {
    text-align: center;
    margin-bottom: 50px;
  }
  &__tab-name-wrapper {
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;

    height: 60px;
    background: beige;
  }

  &__name-label-wrapper {
    margin-bottom: 25px;
    position: relative;
  }
  &__name-label-box {
    position: absolute;
    border-radius: 5px;
    left: 0;
    top: -19px;
    height: 25px;
    width: 21px;
    background: purple;
    cursor: pointer;
  }
  &__name-label {
    margin-right: 20px;
    margin-bottom: 25px;
    font-size: x-large;
    cursor: pointer;
    border: 1px solid;
    border-radius: 5px;
    background-color: purple;
    color: #fff;
  }
  &__tab-wrapper {
    display: flex;
  }
  &__menu-tab-wrapper {
    // width: 100%;
  }
  &__menu-tab-wrapper--active {
    width: 100%;
  }
  &__menu-tab {
    height: 0;
    opacity: 0;
    display: none;
  }
  &__menu-tab--active {
    height: fit-content;
    opacity: 1;
    display: inline;
  }
  &__product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 50px;
  }
  &__product {
    width: 200px;
    text-align: center;
    box-shadow: -1px 0px 5px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 35px;
  }
}
