
.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.modal-card{
  display: flex;
  position: relative;
  margin: auto;
  width: 600px;
  height: 55%;
  padding: 50px;
  background-color: #ffffff;
  z-index: 999;
  border-radius: 5px;
  border: 1px solid #000;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 36px;
  line-height: 1;
  cursor: pointer;
  z-index: 10;
}