.icon {
  &__wrapper {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &__svg-name-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
}
