.dry-accordionSingle {
}
.panel {
  width: 100%;

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    font-size: larger;
    background: black;
    color: #fff;
    padding: 10px;
  }
  &__header-icon {
    font-size: xx-large;
    width: 43px;
    cursor: pointer;
    text-align: center;
  }
  &__children-wrapper {
    background: #fff;
  }
  &__part {
    display: none;
  }
  &__part--active {
    display: block;
    box-shadow: 9px 4px 9px 8px #8888887d;
  }
  &__label {
    color: white;
  }
}
