$color1: rgba(67, 239, 254, 1);
$color2: rgba(76, 191, 255, 1);
$color3: rgba(68, 53, 131, 1);
$color4: rgba(57, 12, 110, 1);
$color5: rgba(38, 44, 151, 1);

.input {
  &__label {
    position: relative;
    left: 1px;
    top: 33px;
    padding: 0px 10px;
    background: #fff;
    font-size: larger;
    color: black;
    transition: all 0.4s;
  }

  &__label--active {
    left: 12px;
    top: 13px;
    padding: 0px 10px;
    background: #fff;
    color: $color3;
    border: 0px solid;
    border-radius: 10px;
  }

  &__html-input {
    height: 25px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 600;
    font-size: larger;
    padding: 10px;

    &:hover {
      outline: none;
      border: 1px solid $color4;
      box-shadow: 0 0 10px $color5;
    }

    &:focus {
      outline: none;
      border: 2px solid $color4;
      box-shadow: 0 0 10px $color5;
    }
  }
}
