.dry-about {
  &__image {
    height: 500px;
    width: 500px;
    border-radius: 100px 100px 300px 100px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.12);
  }

  &__content-wrapper {
    margin-left: 50px;
    padding: 20px;
  }
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__title {
    display: inline-block;
  }
}
