.dry-about {
  &__image {
    height: 200px;
    width: 200px;
    border-radius: 100px;
  }
  &__title-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  &__title {
    display: inline-block;
  }
}
