$color1: rgba(67, 239, 254, 1);
$color2: rgba(76, 191, 255, 1);
$color3: rgba(68, 53, 131, 1);
$color4: rgba(57, 12, 110, 1);
$color4light: #733ab58c;
$color5: rgba(38, 44, 151, 1);

.select {
  width: calc(100% - 20px);
  padding: 10px;

  &__input-wrapper {
    position: relative;
    width: 100%;
    min-height: 40px;
  }

  &__label {
    border-radius: 25px;
    position: relative;
    left: 12px;
    top: 33px;
    font-size: x-large;
    transition: all 0.2s ease-in;
  }

  &__label--active {
    border-radius: 25px;
    position: relative;
    left: 20px;
    top: 10px;
    padding: 0px 10px;
    background: #fff;
    border: 0px solid;
    color: $color3;

    font-size: inherit;
  }

  &__input {
    display: flex;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;

    &:hover {
      border-color: black;
    }
  }

  &__input--focus {
    border: 2px solid $color4;
    &:hover {
      border-color: $color4;
    }
  }

  &__activeOption {
    width: 70%;
    margin-left: 10%;
    text-align: center;
    background: #fff;
    font-size: x-large;
    padding: 5px;
  }

  &__dropdown-icon {
    height: inherit;
    position: relative;
    width: 20%;
    left: -4px;
    top: -11px;
    font-size: 43px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
  }

  &__dropdown-icon--active {
    transform: rotate(45deg);
  }

  &__children-wrapper {
    opacity: 0;
    height: 0px;
    div {
      height: 0px;
    }
    transition: all 0.6s;
  }

  &__children-wrapper--active {
    opacity: 1;
    height: fit-content;
    text-align: center;
    padding-top: 10px;
    box-shadow: 0 0 3px;
    div {
      height: 40px;
    }
  }

  &__children {
    height: 40px;
    font-size: x-large;
    cursor: pointer;

    &:hover {
      background: #80808085;
    }
  }
  &__children--current {
    background: $color4light;
  }
}
