.icon {
  &__wrapper {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  &__svg-name-wrapper {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
  }
  &__main-wrapper {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.all-icons__wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
