.dry-tumble {
}
.container {
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin-top: 100px;
  margin-left: 200px;
  background: url() no-repeat;
  background-size: 100%;
}

.tumbleweed {
  position: relative;
  bottom: 0px;
  width: 150px;
  height: 100px;
  background: url("https://comfort-order-dev.s3.amazonaws.com/logo.png")
    no-repeat;
  background-size: 100%;
}

.tumbleweed {
  animation: tumbleweed linear 3s;
  animation-iteration-count: infinite;
}

@keyframes tumbleweed {
  0% {
    transform: translate(0px, 45px) rotate(0deg);
  }
  9% {
    transform: translate(90px, 5px) rotate(130deg);
  }
  17% {
    transform: translate(160px, 45px) rotate(250deg);
  }
  26% {
    transform: translate(270px, 15px) rotate(360deg);
  }
  34% {
    transform: translate(360px, 45px) rotate(490deg);
  }
  42% {
    transform: translate(480px, 30px) rotate(600deg);
  }
  50% {
    transform: translate(601px, 45px) rotate(720deg);
  }
  100% {
    transform: translate(601px, 45px) rotate(720deg);
  }
}
